@(magic:String)

<div class="easyui-layout" data-options="fit:true">
    <div data-options="region:'west',split:true,hideCollapsedContent:false" title="数据源列表" style="width:200px;">
        <ul id="subscribeList_@magic"+ class="easyui-tree" animate=true lines=true url="/getSubscriptionList" method="get">
        </ul>
    </div>
    <div data-options="region:'center'">
        <div class="easyui-layout" data-options="fit:true">
            <table class="easyui-datagrid" title="高掉话网元" style=""
            data-options="rownumbers:true,singleSelect:true,url:'datagrid_data1.json',method:'get',toolbar:subscriptionToolbar">
                <thead>
                    <tr>
                        <th data-options="field:'itemid',width:80">字段名称</th>
                        <th data-options="field:'productid',width:100">字段类型</th>
                        <th data-options="field:'ck',checkbox:true"></th>
                        <th data-options="field:'productid',width:100,editor:'text'">字段别名</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>

<script type="text/javascript">
    var subscriptionToolbar = [
        {
            text:'更新订阅',
            iconCls:'icon-ok',
            handler:function(){alert('Save Succes')}
        },{
            text:'另存订阅',
            iconCls:'icon-save',
            handler:function(){alert('Save As Success')}
        },
        {
            text:'删除订阅',
            iconCls:'icon-remove',
            handler:function(){alert('Removed')}
        },
        '-',
        {
            text:'加载订阅',
            iconCls:'icon-more',
            handler:function(){
                $('#mainTabs').tabs('add', {
                    id:'tab-'+$("#subscribeList_@magic").tree('getSelected').id,
                    title:"[数据浏览]"+$("#subscribeList_@magic").tree('getSelected').text,
                    href:'/getDataBrowser/'+$("#subscribeList_@magic").tree('getSelected').id,
                    closable:true,
                });
            }
        }
    ];

</script>